.button {
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;

  border: 1px solid transparent;
  border-radius: 30px;
  background-color: $orange;

  cursor: pointer;
  user-select: none;

  &:hover,
  &:focus {
    background-color: darken($orange, 5%);
  }

  &:active {
    transform: translateY(1px);

    background-color: lighten($orange, 10%);
  }

  &--cart {
    min-width: 140px;
    padding: 15px 25px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      margin-right: 12px;

      path {
        stroke: #ffffff;
      }
    }

    span:last-child {
      display: flex;
      align-items: center;
      position: relative;
      margin-left: 20px;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: calc(100% + 10px);
        transform: translateY(-50%);
        width: 1px;
        height: 25px;

        background-color: rgba(255, 255, 255, 0.25);
      }
    }
  }

  &--full-cart {
    path {
      stroke: $black;
    }
  }

  &--filter {
    padding: 13px 30px;

    color: $black;

    background-color: $gray;

    &:hover,
    &:focus {
      background-color: darken($gray, 3%);
    }

    &:active {
      background-color: darken($gray, 7%);
    }

    &.active {
      color: #ffffff;

      background-color: $black;
    }
  }

  &--add {
    display: flex;
    align-items: center;
    height: 44px;

    color: $orange;

    background-color: #ffffff;
    border-color: $orange;

    svg {
      width: 12px;
      height: 12px;
      margin-right: 7px;
    }

    &:hover,
    &:focus {
      color: #ffffff;

      background-color: $orange;

      path {
        fill: #ffffff;
      }

      .button__count {
        color: $orange;

        background-color: #ffffff;
      }
    }
  }

  &--trash {
    padding: 0;
    display: flex;
    align-items: center;

    color: #B6B6B6;
    font-weight: 400;

    background-color: transparent;

    svg {
      margin-right: 7px;
    }

    &:hover,
    &:focus {
      color: darken(#B6B6B6, 25%);

      background-color: transparent;

      path {
        stroke: darken(#B6B6B6, 25%);
      }
    }

    &:active {
      color: lighten(#B6B6B6, 10%);

      background-color: transparent;

      path {
        stroke: lighten(#B6B6B6, 10%);
      }
    }
  }

  &--rounded {
    width: 32px;
    height: 32px;
    padding: 0;

    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid $orange;

    path {
      fill: $orange;
    }

    &:hover,
    &:focus {
      border-color: darken($orange, 5%);

      path {
        fill: #ffffff;
      }
    }

    &:active {
      border-color: lighten($orange, 10%);
    }
  }

  &--gray {
    border-color: #D7D7D7;

    svg {
      transform: rotate(45deg);
    }

    path {
      fill: #D7D7D7;
    }

    &:hover,
    &:focus {
      background-color: $black;
      border-color: $black;
    }

    &:active {
      background-color: lighten($black, 15%);
      border-color: lighten($black, 15%);
    }
  }

  &--checkout {
    padding: 15px 40px;

    font-weight: 400;
  }

  &--back {
    display: flex;
    align-items: center;

    color: #D3D3D3;

    background-color: transparent;
    border-color: #D3D3D3;

    svg {
      margin-right: 12px;
    }

    &:hover,
    &:focus {
      color: #ffffff;

      border-color: $black;
      background-color: $black;

      path {
        stroke: #ffffff;
      }
    }
  }
}

.button__count {
  display: block;

  min-width: 22px;
  height: 22px;
  margin-left: 10px;
  padding: 1px 2px;

  color: #ffffff;
  text-align: center;

  border-radius: 50%;
  background-color: $orange;
}
